@{
    ViewBag.Title = "Contact";
}

    <div class="jumbotron">
        <h1>Bibliothèque virtuelle</h1>
        <h2>On peut se rejoindre:</h2>
        <address>
            On way connection<br />
            1111 rue Coolman, H1PH1U<br />
            <abbr title="Phone">P:</abbr>
            438.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">support@local.host</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@local.host</a>
        </address>
        <hr />
        <div>
            <p>&copy; @DateTime.Now.Year - Bibliothèque publique de centre communautaire (GPLCC)</p>
        </div>
    </div>
