@{
    ViewBag.Title = "Bibliothèque Page";
}
    <div class="jumbotron">
        <h1>Bibliothèque virtuelle</h1>
        <hr/>        
        <div>
            <h2>Le livre numérique</h2> 
            <p>
                Ce site a pour but de vous initier au livre numérique.
            </p>
            <h2>C'est votre premier livre numérique? Lisez ceci !</h2>
            <p>
                Lorem ipsum dolor sit amet, id voluptua incorrupte constituam usu, no eam nonumes atomorum, cu qui ferri blandit. Imperdiet inciderint vim ex. Eam porro laudem ex, partem cetero atomorum vel ut. At sanctus fabellas tractatos has, vel quaeque ullamcorper ex. Te pro latine vituperatoribus, stet mutat pericula id eos. Vis platonem splendide in, cibo tollit mandamus ad mei.
            </p>
            
        </div>
        <hr />
        <p>&copy; @DateTime.Now.Year - Bibliothèque publique de centre communautaire(GPLCC)</p>
    </div>