@{
    ViewBag.Title = "Error";
}
    <div class="jumbotron">
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>
        <hr />
        <div>
            <p>&copy; @DateTime.Now.Year - Bibliothèque publique de centre communautaire (GPLCC)</p>
        </div>
    </div>
    
